<h1>Video#index</h1>
<p>Find me in app/views/video/index.html.erb</p>

<% @videos.each do |video| %>
<%= video.title %> <br>
<%= video.description %> <br>
<iframe width="560" height="315" src="//www.youtube.com/embed/<%=video.youtube_id%>" frameborder="0" allowfullscreen></iframe><br>
<% end %>
