<h1>Video#new</h1>
<p>Find me in app/views/video/new.html.erb</p>

<h1>New Video</h1>

<form action="create" method="post">

Title: <input type="text" name="title"><br>
Description: <input type="text" name="description"><br>
Youtube ID: <input type="text" name="youtube_id"><br>
<input type="submit" value="submit">
</form>
