<h1>Videos#show</h1>
<p>Find me in app/views/video/show.html.erb</p>

<%= @video.title %> </br>
<%= @video.description %> </br>
<iframe width="560" height="315" src="//www.youtube.com/embed/<%=@video.youtube_id%>" frameborder="0" allowfullscreen></iframe> </br>
